@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(175 120 234), rgb(235 226 234 / 52%));
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
}
.brand {
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 25px;
    color: #2d2929;
    margin-left: 10px;
    font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}
.message__area{
    height: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 50px;
    background-color: #f8dcf5;
    border-radius: 15px;
}
.text{
    border-radius: 20px;

}
textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    background: #fbfbfb14;
    border-radius: 10px;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 200px;
    position: relative;
}
.incoming {
    background: #734dd4;
    color: #fff;  
}
.outgoing {
    background: #e9eafd;
    color: #000000;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -25px;
    left: 0;
    color: #000000;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}